DirectoryIndex home.html
ErrorDocument 404 /404.html
Redirect www.goldnightc.github.io home.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/.html !-f
RewriteRule ^(.*)$ $1.html [NC,L]
